article {
  &:after {
    content: '+';
    display: block;
    text-align: center;
  }

  figcaption {
    text-align: center;
    margin-top: 1rem;
  }
}

.article_list {
  li {
    margin-bottom: 2em;
  }
}
