article {
  .index & {
    margin: 4rem 0;
  }

  &:after {
    content: '+';
    display: block;
    text-align: center;
    margin-top: 2rem;
  }

  figure {
    margin: 0;
  }

  figcaption {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }

  pre {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .05);
    overflow-x: scroll;
  }

  code {
    font-size: 0.8rem;
  }

  p code {
    background-color: rgba(0, 0, 0, .05);
    padding: 0.5em;
  }
}

.meta {
  a {
    color: black;
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footnotes {
  @extend .f6;
	@extend .mt4;
}

.cc2-ns {
  @media #{$breakpoint-not-small} {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  p:first-child {
    margin-top: 0;
  }
}

.cc2-m {
  @media #{$breakpoint-medium} {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  p:first-child {
    margin-top: 0;
  }
}

.cc2-l {
  @media #{$breakpoint-large} {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  p:first-child {
    margin-top: 0;
  }
}

.cc3-ns {
  @media #{$breakpoint-not-small} {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  p:first-child {
    margin-top: 0;
  }
}

.cc3-l {
  @media #{$breakpoint-large} {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  p:first-child {
    margin-top: 0;
  }
}
