article {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  margin-bottom: 2em;

  &:after {
    content: '+';
    margin-top: 2em;
    display: block;
    text-align: center;
  }
}

.article_list {
  li {
    margin-bottom: 2em;
  }
}

.article-nav {
  div {
    width: 50%;
    float: left;
    margin-bottom: 2em;
  }
}

.articles_index {
  h2 {
    font-family: 'PT Mono', Courier, monospace;
  }
}
