body {
  padding: 5vh;
}

ol {
  list-style: decimal outside none;
}

ul {
  list-style: disc outside none;
}

li p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  @extend .link;
  @extend .dark-red;

  &:hover {
    color: #d03b00;
  }

  &:visited {
    color: darken($color-link, 15%);
  }
}

section {
  margin-bottom: 2em;
}

main {
  position: relative;
  width: 48%;
  max-width: 720px;
  margin-bottom: 5%;

  .offset & {
    width: 23%;
  }

  @include breakpoint(smaller) {
    width: 100%;
  }
}

section {
  position: relative;
}

aside {
  position: absolute;
  top: 0;
  width: 100%;
  left: 108%;

  .offset & {
    width: 73%;
  }

  @include breakpoint(smaller) {
    position: static;
  }
}
