body {
  padding: 5vh;
  max-width: 45rem;
  margin: 0 auto 5%;
}

ol {
  list-style: decimal outside none;
}

ul {
  list-style: disc outside none;
}

li p {
  margin-top: 0;
}

a {
  @extend .link;
  @extend .dark-red;

  &:hover {
    color: #d03b00;
  }

  &:visited {
    color: darken($color-link, 15%);
  }
}

section {
  margin-bottom: 2em;
}

hr {
  border: 0;
  color: black;

  &:after {
    content: '+';
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}
