@import '~swiper/dist/css/swiper';

$max-container: calc(90vh - 8em);

.photos main {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  img {
    max-height: calc(100% - 2em);
  }
}

.album-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.album {
  max-height: $max-container;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 60em) {
    flex-basis: 33%;
    padding-right: 1em;
  }

  @media (max-width: 60em) {
    max-height: auto;
  }

  &:nth-child(3n) {
    padding: 0;
  }
}

.swiper-container {
  width: calc(100% - 100px);
  height: $max-container;

  @include breakpoint(smaller) {
    width: 100%;
  }
}

.swiper-slide {
  width: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: none;

  @include breakpoint(smaller) {
    display: none;
  }
}

.swiper-pagination {
  width: 100%;
  bottom: -2em;
}

.swiper-pagination-bullet {
  margin: 0.25em;
}

.swiper-pagination-bullet-active {
  background: black;
}
