@import '~swiper/dist/css/swiper';

$max-container: calc(90vh - 6rem);

.photo-album {
  max-width: none;

  main {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

.photo-grid {
  // never make a vertical photo bigger than the viewport... in columns
  max-width: calc((100vh - 4em) * 3 / 4 * 2);
}

.album-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.album {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 60em) {
    flex-basis: 33%;
    padding-right: 1em;
  }

  @media (max-width: 60em) {
    max-height: auto;
  }

  &:nth-child(3n) {
    padding: 0;
  }
}

.swiper-container {
  width: calc(100% - 100px);
  height: $max-container;

  @include breakpoint(smaller) {
    width: 100%;
  }
}

.swiper-slide {
  width: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }

  img {
    max-height: calc(100% - 4rem);
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  width: 1rem;

  @include breakpoint(smaller) {
    display: none;
  }
}

.swiper-pagination {
  width: 100%;
  bottom: -2em;
}

.swiper-pagination-bullet {
  margin: 0.25em;
}

.swiper-pagination-bullet-active {
  background: black;
}

.grid {
  column-count: 2;
  column-gap: 1em;

  @media (max-width: 60em) {
    column-count: 1;
  }
}
