$footer-height: 7em;
$color-link: #ff5e08;

@import '~tachyons-sass/scss/colors';
@import '~tachyons-sass/scss/links';
@import '~tachyons-sass/scss/skins';
@import 'mixins';
@import 'global';
@import 'articles';
@import 'photos';

.index {
  position: relative;
  height: 100%;

  &:before {
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('/photos/2014/003-barcelona,%202014.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
