<% content_for :page_classes, 'photo-post' %>
<% wrap_layout :layout do %>
  <figure class="mh0">
    <%= image_tag current_article.data[:photo], alt: current_article.title %>
    <figcaption class="mv2"><%= current_article.title %></figcaption>
  </figure>

  <article>
    <%= yield %>
  </article>

  <p class="mt5 f6 tc">
    <%= link_to "#{current_article.date.year} photos", blog_year_path(current_article.date.year) %>
  </p>
<% end %>
