---
title: index
layout: reno
---
<style>
body {
  margin: 0;
  padding: 1vw;
  max-width: 100%;
}
</style>

<ul>
  <li><a href="/reno/kitchen">kitchen inspiration</a></li>
  <li><a href="/reno/bathroom">bathroom inspiration</a></li>
</ul>

<img src="/reno/storage.jpg" />
