---
title: reno
layout: minimal
---
<style>
body {
  margin: 0;
  padding: 1vw;
  max-width: 100%;
}
</style>

<ul>
  <li><a href="/reno/kitchen">kitchen</a></li>
  <li><a href="/reno/bathroom">bathroom</a></li>
</ul>
