---
title: Japan and Taipei
published: false
date: 2019-07-06
essay: true
thumb: /photos/2019/japan-taipei/thumb.jpg
---

<header class="vh-50 vh-100-ns w-100 dt white">
  <div style="background:url(/photos/2019/japan-taipei/thumb.jpg) no-repeat center right;" class="dtc v-mid cover ph3 ph4-m ph5-l">
    <h1 class="f2 f-subheadline-l measure lh-title fw9 tc i">Japan and Taipei</h1>
  </div>
</header>
