<% photo_url = if !article.data[:essay] &&
    current_page.path.include?('xml') ||
    article.data[:orientation] == 'vertical'
  image_path("/#{File.dirname(article.path)}/#{article.data[:photo]}")
    else
      image_path("/#{File.dirname(article.path)}/#{article.data[:thumb]}")
    end %>
<article>
  <%= partial :article_meta, locals: { article: article } %>
  <%= article_title(article) %>
  <p class="mb2">
    <% link_to article.url do %>
      <%= image_tag photo_url, alt: article.title, class: 'mw-100' %>
    <% end %>
  </p>
  </figure>
  <% if article.data[:description] %>
    <p><%= article.data[:description] %></p>
  <% end %>
</article>
