<article class="lh-copy mv4">
  <p class="f6">
    <%= partial :article_meta, locals: { article: article } %>
  </p>
  <h2>
    <%= article_title(article) %>
  </h2>
  <%= article.summary %>
</article>
