<p>
  <a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e %Y') %></time></p>
<% if article.data[:description] %>
  <p><%= article.data[:description] %></p>
<% end %>
