<p>More experiments and sketches are posted <a href="https://soundcloud.com/support_group">on soundcloud</a>.</p>

<% articles.each do |article| %>
  <%= partial :list_music, locals: { article: article } %>
<% end %>
