<h2 class="ph3-ns">trips and projects</h2>

<div class="flex flex-wrap">
  <% essays = sitemap.resources.select { |p| p.data[:essay] && p.path.index('/ongoing') }
     essays += sitemap.resources.select { |p| p.data[:essay] && !p.path.index('/ongoing') }
  essays.each do |article| %>
    <div class="w-100 pb3 w-50-m w-third-l pa3-ns">
      <% link_to article.path, class: 'w-100 h5 dt cover', style: "background-image: url(#{article.data[:thumb]});" do %>
        <div class="dtc v-mid white ph4">
          <h3><%= article.data.title %></h3>
          <% if article.data.date %>
            <p><%= article.date.strftime('%b %e %Y') %></p>
          <% else %>
            <p>ongoing</p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h2 class="ph3-ns">photos by year</h2>

<div class="flex flex-wrap">
  <% photos_grouped_by_year.each do |year, articles| %>
    <div class="flex flex-column mb3-s w-third-ns pa3-ns">
      <% link_to category_path('photos') + year.to_s do %>
        <%= image_tag articles.first.data[:thumb],
          alt: "photos from #{year}"
        %>
      <% end %>
      <%= link_to year, category_path('photos') + year.to_s, class: 'mv2' %>
    </div>
  <% end %>
</div>
