<% unless id.nil? %>
  <% controls = controls == true ? 'controls=1' : 'controls=0' %>
  <div class="youtube">
    <iframe src="https://www.youtube.com/embed/<%= id %>?modestbranding=1&autohide=1&showinfo=0&<%= controls %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
