---
blog: articles
---
<% content_for :page_classes, 'cover' %>

<section>
  <h1 class="f1-l f1-ns">I'm Tyler and I make things in Toronto, Canada.</h1>
</section>

<% if blog.articles.length > 0 %>
<section>
  <h2 class="f3">latest articles</h2>
  <ul class="list pa0">
    <% blog.articles[0...5].each do |article| %>
      <li>
        <p>
          <a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e %Y') %></time></p>
        <% if article.data[:description] %>
          <p><%= article.data[:description] %></p>
        <% end %>
    </li>
  <% end %>
</ul>
<% end %>
</section>
