---
blog: photos
---
<h2>photos</h2>

<div class="album-list">
  <% blog.articles.each do |album| %>
    <div class="album">
      <% link_to album.url do %>
        <%= image_tag "/#{blog_post_images(album.path).first.url}",
        alt: blog_post_images(album.path).first.name
      %>
      <% end %>
      <%= link_to album.title, album.url, class: 'mv2' %>
    </div>
  <% end %>
</div>
