---
title: "from the porch"
published: true
essay: true
thumb: 2018-10-fromtheporch.jpg
---

<div class="w-90 mw9 center ph4-m ph5-l">
  <div class="pv2 pa2-ns">
    <%= image_tag '2018-10-fromtheporch.jpg' %>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '2018-10-fromtheporch-2.jpg' %>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '2018-08-08-august.jpg' %>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '2018-05-02-may.jpg' %>
  </div>
</div>
